/* 
h3{
    display: inline;
    height: 400px;
    width: 400px;
    background-color: blue;
} */

/* display inline-block */
/* h3{
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: aqua;
} */

/* span{
    display: inline-block;
    height: 400px;
    width: 400px;
    background-color: lightcoral;

} */

div{
    height: 200px;
    width: 200px;
    display: inline-block;
}

:nth-of-type(2){
    /* display: none; */
    visibility: hidden;
}
